* {
  margin: 0;
  padding: 0;
}
.formWrapper{
  display: flex;
  justify-content: center;
}
.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  
}
.textFieldFloating{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textFieldFloating:not(:last-child) {
  margin-bottom: 10px;
}
.textFieldLabel{
  
}
.textFieldInput {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
}

.btnWrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.btn{
  text-align: center;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(253, 193, 82);
}
.btn:hover,
.btn:focus{
background-color: rgb(181, 143, 72);
}
.ContactList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ContactTitle {
  font-weight: 700;
  font-size: 25px;
  color:black;
  text-align: center;
}
.ContactItem {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
